@{
    ViewData["Title"] = "Pagina principal";
}
<div style="text-align:center"><img src="https://www.hochimin.com.pe/wp-content/uploads/2019/05/LOGOS-WEB_HOCHIMIN-32.jpg" width="500" height="500" /></div>